input:valid{
    border: 1px solid rgb(135, 211, 49);
}
input:invalid {
    
   border: 1px solid red;
}
select:valid {
   border: 1px solid rgb(135, 211, 49);
}
select:invalid {
    
   border: 1px solid red;
    
}
.form-group{
    color: black;
    margin: 0 auto;
}
.center{
    margin: 0 auto;
    width: calc(50px + 50%);
    margin-top: 50px;
}
.centerboton{
    margin-top: 35px;
    height: 45px;
    margin-bottom: 20px;
    
}
.ico{
    margin-top: 4px;
}

