<!-- modal Error-->
<ng-template #modalError let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-dark">Detalles</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-dark">
    <label>Error</label>
    <p>{{showMessage}}</p>
  </div>
  <div class="modal-footer text-dark">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<div class="container center">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="col-form-label">Activo</label>
        <input [(ngModel)]='activo' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)"
          required>
      </div>
      <div class="form-group">
        <label class="col-form-label">DPI</label>
        <input [(ngModel)]='cui' type="text" class="form-control" required readonly value="">
      </div>
      <div class="form-group">
        <label class="col-form-label">Primer Nombre</label>
        <input [(ngModel)]='primerNombre' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)"
          required>
      </div>
      <div class="form-group">
        <label class="col-form-label">Segundo Nombre</label>
        <input [(ngModel)]='segundoNombre' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Tercer Nombre</label>
        <input [(ngModel)]='tercerNombre' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Primer Apellido</label>
        <input [(ngModel)]='primerApellido' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)"
          required>
      </div>
      <div class="form-group">
        <label class="col-form-label">Segundo Apellido</label>
        <input [(ngModel)]='segundoApellido' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Tercer Apellido</label>
        <input [(ngModel)]='tercerApellido' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Genero</label>
        <select [(ngModel)]='genero' class="form-control" required>
          <option>Masculino</option>
          <option>Femenino</option>
        </select>
      </div>
      <div class="form-group">
        <label class="col-form-label">Nacionalidad Municipio</label>
        <input [(ngModel)]='nacionalidadMunicipio' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Nacionalidad Departamento</label>
        <input [(ngModel)]='nacionalidadDepartamento' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Nacionalidad Pais</label>
        <input [(ngModel)]='nacionalidadPais' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Fecha de Nacimiento</label>
        <input [(ngModel)]='fechaNacimiento' type="date" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Fecha de Emision de Documento</label>
        <input [(ngModel)]='fechaEmisionDocumento' type="date" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Fecha de Vencimiento de Documento</label>
        <input [(ngModel)]='fechaVencimientoDocumento' type="date" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Estado civil</label>
        <select [(ngModel)]='estadoCivil' class="form-control" required>
          <option>Soltero</option>
          <option>Casado</option>
        </select>
      </div>
      <div class="form-group">
        <label class="col-form-label">Vecindad Municipio</label>
        <input [(ngModel)]='vecindadMunicipio' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Vecindad Departamento</label>
        <input [(ngModel)]='vecindadDepartamento' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Nacionalidad</label>
        <input [(ngModel)]='nacionalidad' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Sabe Leer</label>
        <select [(ngModel)]='sabeLeer' class="form-control" required>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>

    </div>

    <div class="col">
      <div class="form-group">
        <label class="col-form-label">Sabe Escribir</label>
        <select [(ngModel)]='sabeEscribir' class="form-control" required>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>
      <div class="form-group">
        <label class="col-form-label">Limitaciones Fisicas</label>
        <input [(ngModel)]='limitacionesFisicas' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Libro</label>
        <input [(ngModel)]='libro' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Folio</label>
        <input [(ngModel)]='folio' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Partida</label>
        <input [(ngModel)]='partida' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Residencia Direccion</label>
        <input [(ngModel)]='residenciaDireccion' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Residencia Municipio</label>
        <input [(ngModel)]='residenciaMunicipio' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Residencia Departamento</label>
        <input [(ngModel)]='residenciaDepartamento' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Codigo Postal</label>
        <input [(ngModel)]='codigoPostal' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Residencia Pais</label>
        <input [(ngModel)]='residenciaPais' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Profesion</label>
        <input [(ngModel)]='profesion' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)"
          required>
      </div>
      <div class="form-group">
        <label class="col-form-label">Numero de Cedula</label>
        <input [(ngModel)]='cedulaNumero' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Cedula de Municipio</label>
        <input [(ngModel)]='cedulaMunicipio' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Cedula Departamento</label>
        <input [(ngModel)]='cedulaDepartamento' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Oficial Activo</label>
        <select [(ngModel)]='oficialActivo' class="form-control" required>
          <option>Si</option>
          <option>No</option>
        </select>
      </div>
      <div class="form-group">
        <label class="col-form-label">Numero Serie de Documento</label>
        <input [(ngModel)]='numeroSerieDocumento' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Correo Personal</label>
        <input [(ngModel)]='correoPersonal' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Correo Institucional</label>
        <input [(ngModel)]='correoInstitucional' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Numero Telefonico</label>
        <input [(ngModel)]='numeroTelefonico' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">Numero Telefonico de Celular</label>
        <input [(ngModel)]='numeroTelefonicoMovil' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
      <div class="form-group">
        <label class="col-form-label">MRZ</label>
        <input [(ngModel)]='mrz' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updatePersona(modalError)">
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-danger btn-block centerboton" (click)="personas()">
        <i class="material-icons ico">close</i>
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-success btn-block centerboton" (click)="updatePersona(modalError)">
        <i class="material-icons ico">check</i>
      </button>
    </div>
  </div>

</div>