body {
    background-image: url('');
    /*cover para que ocupe todo automaticamente*/
    filter: cover;
    width: 100%;
    /*vh calcular el porsentaje de la pantalla (vw para width)*/
    height: 100vh;
}
.ripple-obj {
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    fill: #0c7cd5;
  }
  
  .ripple-obj use {
    opacity: 0;
  }
/*agrandar efecto*/
.grow:hover
{
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
}

