<div class="bs-component">
  <nav class="navbar nav navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-outline-secondary puntero btn-sm botonNav" (click)="show()">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <h3 class="tituloNav">Biométrico</h3>
      <div class="col">
        <button type="button" class="btn btn-link derecha botonNav puntero text-white" [routerLink]="['login']">Salir</button>
      </div>
    </div>
  </nav>
  
  <!--Sidenav-->
  <div id="wrapper" [ngClass]="{'toggled':isShow}">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        
            <button type="button" class="close text-light puntero right" (click)="show()">
                <i class="material-icons">highlight_off</i>
              </button>
       

        <li class="sidebar-brand">
          <a [routerLink]="['home']" (click)="show()">
            Home
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['asignacionpersona']" (click)="show()"> Asignación Persona </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['asistencia']" (click)="show()"> Asistencia </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['departamentos']" (click)="show()"> Departamentos </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['nivelacceso']" (click)="show()"> Nivel Acesso </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['permisonivelacceso']" (click)="show()"> Permiso Nivel de Acceso </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['permisos']" (click)="show()"> Permisos </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['personas']" (click)="show()"> Personas </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['roles']" (click)="show()"> Roles </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['usuarios']" (click)="show()"> Usuarios </a>
        </li>

      </ul>
    </div>
  </div>

  <div [ngClass]="{'opacidad': isShow}" (click)="show()"></div>