<!--Header-->
<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="page-header">
        <h2 class="display-5 text-center text-dark tituloHeader">Departamentos</h2>
      </div>
    </div>
  </div>
  <blockquote class="card-blockquote">
    <div class="row">
      <div class="col">
        <div class="bs-component">
          <div class="form-group search searchico">
            <label class="control-label"></label>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="data" (keyup)='buscarDepartamento(data)' placeholder="Buscar Departamento">
                <div class="input-group-addon searchIco">
                  <i class="material-icons icoBuscar text-white">search</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bs-component">
          <button class="btn btn-secondary btn-sm agregarp puntero" placement="left" ngbTooltip="Agregar Asistencia" (click)="open(modalCreate); deleteData()">
            <span>
              <i class="material-icons icoAdd">add</i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </blockquote>
</div>

<!-- msg Error -->
<div class="alert alert-dismissible alert-danger" *ngIf="msgError">
  <h4>Registro no Existente</h4>
  <p>No hay un registro que coincida con: {{data}} </p>
</div>

<!--Cards-->
<div class="row">
  <div class="col-md-6 col-lg-4 col-xl-3" *ngFor='let item of lista'>
    <div class="cardSm">
      <div class="row cardColorR">
        <div class="col-10">
          <p class="titulo text-white title">{{item.nombreDepartamento}}</p>
        </div>
        <div class="col-2">
          <div ngbDropdown class="d-inline-block dropdown " #myDrop="ngbDropdown">
            <span *ngIf="!myDrop.isOpen()" class="botonCards puntero" placement="left" ngbTooltip="Opciones" (click)="$event.stopPropagation(); myDrop.open();">
              <i class="material-icons ico ">settings</i>
            </span>
            <span *ngIf="myDrop.isOpen()" class="botonCards puntero" (click)="$event.stopPropagation(); myDrop.close();">
              <i class="material-icons ico ">settings</i>
            </span>
            <div class="drop" ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" (click)="open(modalUpdate);setData(item)">Editar</button>
              <button class="dropdown-item" (click)="open(modalDelete); setData(item)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card-foot text-muted cardColorFD">
          <button type="button" class="btn btn-link derecha text-dark puntero" (click)="setData(item); getPersonas(); open(modalDetails)">Ver mas...</button>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- modal Agregar-->
<ng-template #modalCreate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-dark">Agregar</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-dark">
    <label>Nombre del Departamento</label>
    <input [(ngModel)]='nombreDepartamento' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="createDepartamento()">
  </div>
  <p class="text">{{showMessage}} </p>
  <div class="modal-footer text-dark">
    <button type="button" class="btn btn-outline-danger botonModal" (click)="c('Close click')">Cerrar</button>
    <button type="button" class="btn btn-outline-success botonModal" (click)="createDepartamento()">Confirmar</button>
  </div>
</ng-template>

<!-- modal Actualizar-->
<ng-template #modalUpdate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-dark">Editar</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-dark">
    <label>Nombre del Departamento</label>
    <input [(ngModel)]="nombreDepartamento" type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="updateDepartamento()">
  </div>
  <p class="text">{{showMessage}} </p>
  <div class="modal-footer text-dark">
    <button type="button" class="btn btn-outline-success botonModal" (click)="updateDepartamento()">Confirmar</button>
    <button type="button" class="btn btn-outline-danger botonModal" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<!-- modal Eliminar-->
<ng-template #modalDelete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-dark">Eliminar</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-dark">
    <label>¿Esta seguro que quiere eliminar el departamento {{nombreDepartamento}}? </label>
  </div>
  <div class="modal-footer text-dark">
    <button type="button" class="btn btn-outline-success redondo" (click)="c('Close click');deleteDepartamento()">Si</button>
    <button type="button" class="btn btn-outline-danger redondo" (click)="c('Close click')">No</button>
  </div>
</ng-template>

<!-- modal Detalles-->
<ng-template #modalDetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Detalles</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label><strong>Personas en el Departamento de</strong> {{nombreDepartamento}}</label>
    <br>
    <label *ngFor='let item of listaPersonas'>Nombre: {{item.primerNombre}} {{item.primerApellido}} DPI: {{item.cui}}</label> 
  </div>
  <div class="modal-footer text-dark">
  </div>
</ng-template>