<!--Header-->
<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="page-header">
        <h2 class="display-5 text-center text-dark tituloHeader">Asistencia</h2>
      </div>
    </div>
  </div>
  <blockquote class="card-blockquote">
    <div class="row">
      <div class="col">
        <div class="bs-component">
          <div class="form-group search searchico">
            <label class="control-label"></label>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="data" (keyup)='burcarAsistencia(data)' placeholder="Buscar Asistencia">
                <div class="input-group-addon searchIco">
                  <i class="material-icons icoBuscar text-white">search</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bs-component">
          <button class="btn btn-secondary btn-sm agregarp puntero" placement="left" ngbTooltip="Agregar Asistencia" (click)="open(modalCreate); deleteData()">
            <span>
              <i class="material-icons icoAdd">add</i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </blockquote>
</div>

<!-- msg Error -->
<div class="alert alert-dismissible alert-danger" *ngIf="msgError">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Registro no Existente</h4>
  <p>No hay un registro que coincida con: {{data}} </p>
</div>

<!--Cards-->
<div class="row">
  <div class="col-md-6 col-lg-4 col-xl-3" *ngFor='let item of lista'>
    <div class="card">
      <div class="row cardColor">
        <div class="col-10">
          <p class="titulo text-white title">{{item.persona.primerNombre}} {{item.persona.primerApellido}}</p>
        </div>
        <div class="col-2">
          <div ngbDropdown class="d-inline-block dropdown " #myDrop="ngbDropdown">
            <span *ngIf="!myDrop.isOpen()" class="botonCards puntero" placement="left" ngbTooltip="Opciones" (click)="$event.stopPropagation(); myDrop.open();">
              <i class="material-icons ico ">settings</i>
            </span>
            <span *ngIf="myDrop.isOpen()" class="botonCards puntero" (click)="$event.stopPropagation(); myDrop.close();">
              <i class="material-icons ico ">settings</i>
            </span>
            <div class="drop" ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" (click)="open(modalUpdate);setData(item)">Editar</button>
              <button class="dropdown-item" (click)="open(modalDelete); setData(item)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body ">
        <h6 class="card-title titulo title">Fecha:</h6>
        <h5 class="card-subtitle text-muted titulo title">{{item.fecha}}</h5>
      </div>
      <div class="card-body">
      </div>
      <div class="card-foot cardColorF">

        <button type="button" class="btn btn-link derecha text-dark puntero" (click)="open(modalDetails); setData(item)">Ver mas...</button>
      </div>
    </div>
  </div>
</div>

<!-- modal Agregar-->
<ng-template #modalCreate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Agregar</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Persona</label>
    <div class="form-group">
      <select [(ngModel)]="idPersona" class="form-control" id="exampleSelect1">
        <option *ngFor='let item of listaPersona; let count = index' value="{{count}}">{{item.primerNombre}} {{item.primerApellido}}</option>
      </select>
    </div>
    <label>Fecha</label>
    <input [(ngModel)]='fecha' type="date" class="form-control" (keyup.enter)="createAsistencia()">
    <label>Hora de Entrada</label>
    <input [(ngModel)]='horaEntrada' type="time" class="form-control" (keyup.enter)="createAsistencia()">
    <label>Hora de Salida</label>
    <input [(ngModel)]='horaSalida' type="time" class="form-control" (keyup.enter)="createAsistencia()">
  </div>
  <p class="text">{{showMessage}} </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger botonModal" (click)="c('Close click')">Cerrar</button>
    <button type="button" class="btn btn-outline-success botonModal" (click)="createAsistencia()">Confirmar</button>

  </div>
</ng-template>

<!-- modal Actualizar-->
<ng-template #modalUpdate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title ">Editar</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Persona</label>
    <div class="form-group">
      <select [(ngModel)]="idPersona" class="form-control" id="exampleSelect1">
        <option *ngFor='let item of listaPersona; let count = index' value="{{count}}">{{item.primerNombre}} {{item.primerApellido}}</option>
      </select>
    </div>
    <label>Fecha</label>
    <input [(ngModel)]='fecha' type="text" class="form-control" (keyup.enter)="updateAsistencia()">
    <label>Hora de Entrada</label>
    <input [(ngModel)]='horaEntrada' type="time" class="form-control" (keyup.enter)="updateAsistencia()">
    <label>Hora de Salida</label>
    <input [(ngModel)]='horaSalida' type="time" class="form-control" (keyup.enter)="updateAsistencia()">
  </div>
  <p class="text">{{showMessage}} </p>
  <div class="modal-footer ">
    <button type="button" class="btn btn-outline-success botonModal" (click)="updateAsistencia()">Confirmar</button>
    <button type="button" class="btn btn-outline-danger botonModal " (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<!-- modal Eliminar-->
<ng-template #modalDelete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title ">Eliminar</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body ">
    <label>¿Esta seguro que quiere eliminar la asistencia de {{primerNombre}} {{primerApellido}}, del dia {{fecha}}?</label>
  </div>
  <div class="modal-footer ">
    <button type="button" class="btn btn-outline-danger redondo" (click)="c('Close click')">No</button>
    <button type="button" class="btn btn-outline-success redondo" (click)="c('Close click'); deleteAsistencia()">Si</button>
  </div>
</ng-template>

<!-- modal Detalles-->
<ng-template #modalDetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title ">Detalles</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body ">
    <div class="row">
      <label>
        <strong>Nombre:</strong> {{primerNombre}} {{primerApellido}}</label>
    </div>
    <div class="row">
      <label>
        <strong>Fecha:</strong> {{fecha}}</label>
    </div>
    <div class="row">
      <label>
        <strong>Hora de Entrada: </strong> {{horaEntrada}}</label>
    </div>
    <div class="row">
      <label>
        <strong>Hora de salida:</strong> {{horaSalida}}</label>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>