<!--Header-->
<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="page-header">
        <h2 class="display-5 text-center text-dark tituloHeader">Permiso Nivel de Acceso</h2>
      </div>
    </div>
  </div>
  <blockquote class="card-blockquote">
    <div class="row">
      <div class="col">
        <div class="bs-component">
          <div class="form-group search searchico">
            <label class="control-label"></label>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="data" (keyup)='buscarPermisoNivelAcceso(data)' placeholder="Buscar permiso">
                <div class="input-group-addon searchIco">
                  <i class="material-icons icoBuscar text-white">search</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bs-component">
          <button class="btn btn-secondary btn-sm agregarp puntero" placement="left" ngbTooltip="Agregar permiso" (click)="open(modalCreate); deleteData()">
            <span>
              <i class="material-icons icoAdd">add</i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </blockquote>
</div>

<!-- msg Error -->
<div class="alert alert-dismissible alert-danger" *ngIf="msgError">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Registro no Existente</h4>
  <p>No hay un registro que coincida con: {{data}} </p>
</div>


<!--Cards-->
<div class="row">
  <div class="col-md-6 col-lg-4 col-xl-3" *ngFor='let item of lista'>
    <div class="card">
      <div class="row cardColor">
        <div class="col-10">
          <p class="titulo text-white title">{{item.nivelAcceso.descripcion}}</p>
        </div>
        <div class="col-2">
          <div ngbDropdown class="d-inline-block dropdown " #myDrop="ngbDropdown">
            <span *ngIf="!myDrop.isOpen()" class="botonCards puntero" placement="left" ngbTooltip="Opciones" (click)="$event.stopPropagation(); myDrop.open();">
              <i class="material-icons ico ">settings</i>
            </span>
            <span *ngIf="myDrop.isOpen()" class="botonCards puntero" (click)="$event.stopPropagation(); myDrop.close();">
              <i class="material-icons ico ">settings</i>
            </span>
            <div class="drop" ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" (click)="open(modalUpdate);setData(item)">Editar</button>
              <button class="dropdown-item" (click)="open(modalDelete); setData(item)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body ">
        <h6 class="card-title titulo text-dark"></h6>
        <h5 class="card-subtitle text-muted titulo text-dark">{{item.permiso.descripcion}}</h5>
      </div>
      <div class="card-body">
      </div>
      <div class="card-foot text-muted cardColorF">
        <button type="button" class="btn btn-link derecha text-dark puntero" (click)="open(modalDetails); setData(item)">Ver mas...</button>
      </div>
    </div>
  </div>
</div>

<!-- modal Agregar-->
<ng-template #modalCreate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Agregar</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Nivel de Acceso</label>
    <div class="form-group">
      <select [(ngModel)]='idNivelAcceso' class="form-control" id="exampleSelect1">
        <option *ngFor='let item of listaNivelAcceso; let count = index' value="{{count}}">{{item.descripcion}}</option>
      </select>
    </div>
    <label>Permiso</label>
    <div class="form-group">
      <select [(ngModel)]='idPermiso' class="form-control" id="exampleSelect1">
        <option *ngFor='let item of listaPermiso; let count = index' value="{{count}}">{{item.descripcion}}</option>
      </select>
    </div>
  </div>
  <p class="text">{{showMessage}} </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger botonModal" (click)="c('Close click')">Cerrar</button>
    <button type="button" class="btn btn-outline-success botonModal" (click)="createPermisoNivelAcceso()">Confirmar</button>
  </div>
</ng-template>

<!-- modal Actualizar-->
<ng-template #modalUpdate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Editar</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Nivel de Acceso</label>
    <div class="form-group">
      <select [(ngModel)]="idNivelAcceso" class="form-control" id="exampleSelect1">
        <option *ngFor='let item of listaNivelAcceso; let count = index' value="{{count}}">{{item.descripcion}}</option>
      </select>
    </div>
    <label>Permiso</label>
    <div class="form-group">
      <select [(ngModel)]="idPermiso" class="form-control" id="exampleSelect1">
        <option *ngFor='let item of listaPermiso; let count = index' value="{{count}}">{{item.descripcion}}</option>
      </select>
    </div>
  </div>
  <p class="text">{{showMessage}} </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success botonModal" (click)="updatePermisoNivelAcceso()">Confirmar</button>
    <button type="button" class="btn btn-outline-danger botonModal" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<!-- modal Eliminar-->
<ng-template #modalDelete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Eliminar</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>¿Esta seguro que quiere eliminar {{descripcionN}}?</label>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success redondo" (click)="c('Close click'); deletePermisoNivelAcceso()">Si</button>
    <button type="button" class="btn btn-outline-danger redondo" (click)="c('Close click')">No</button>
  </div>
</ng-template>

<!-- modal Detalles-->
<ng-template #modalDetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Detalles</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <label>
        <strong>Descripcion Nivel de Acceso:</strong> {{descripcionN}}</label>

    </div>
    <div class="row">
      <label>
        <strong>Codigo del Nivel de Acceso:</strong> {{codigoN}}</label>

    </div>
    <div class="row">
      <label>
        <strong>Descripcion del Permiso:</strong> {{descripcionP}}</label>

    </div>
    <div class="row">

      <label>
        <strong>Codigo del Permiso:</strong> {{codigoP}}</label>

    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>