<div class="pintar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="pen-title">
          <h1>Biometrico</h1>
          <span>Soft
            <a>dev</a>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
        </div>
        <div class="card ck">
          <div class="row">
            <h1 class="title">Login</h1>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-container">
                <input type="text" required="required">
                <label>Usuario</label>
                <div class="bar"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-container">
                <input type="password" required="required">
                <label>Password</label>
                <div class="bar"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="button-container">
                <button class="boton">
                  <span>Go</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
