body {
   font-family: 'Barlow', sans-serif;
    margin: 5em 0 0 0;
    padding: 0;
    overflow-x: hidden;
    color: white !important;
} 
.row {
    width: 100%;
    margin: 0 auto;
} 
.containerDeptos {
    margin-top: 8px;
}

/*Botones*/
.puntero { 
    cursor: pointer;
}

.agregarp {
  float: right;
  margin-top: 23px;
  background-color: #001d3a;
  width: 40px;
  height: 40px;
  transition: all .20s ease-in-out;
}
.agregarp:hover{
  background-color: #001d3a;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);  
}
.botonModal {
  width: 15em;
  margin: 0 auto;
}
.derecha {
  float: right;
}

/*iconos*/
.icoBuscar {
  margin-top: 4px;
}
.icoCheck {
  margin-top: 6px;
}
.ico {
  margin-top: 20px;
  font-size: 2em;
  color: rgb(193, 164, 59);
  transition: all .40s ease-in-out; 
}
.ico:hover {
  transform: rotate(90deg);
  color:rgb(230, 184, 33);
}
.icoAdd {
  margin-top: 7px;
  font-size: 1.5em;
  color: #ffffff;
}
.searchIco {
  background-color: #001d3a;
}
.icoModal{
  margin-top: 4px;
  margin-left: -2px;
  size: 0.5em;
}

/*imput*/
.search {
  float: left;
  width: calc(210px + 20%);
}
.buscar {
  margin:10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*Modal*/
.modal-body {
  color: #2C3E50;
}
.modal-header {
  color:#2C3E50;
}
.modal-footer {
  color: #2C3E50;
}
.text{
  color: red;
  text-align: center;
}

/*Titulos*/
.title {
  margin-top: 20px;
  color: black;
}
.titulo {
  font-family: 'Barlow', sans-serif;
  font-size: 1.3em;
  font-weight: 500;
}
.tituloNav {
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.5em;
  margin-top: 10px;
}
.tituloHeader {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 3em;
  font-weight: 500;
  margin-top: 10px;
  color: #001d3a !important;

}

/*navbar*/
.botonNav {
  margin-top: 5px;
}
.subTitulo {
  font-family: 'Barlow', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

/*Cards*/
.cardColor {
  background-color: #001d3a;
  width: 100%;
  height: 6em;
}
.cardColorR {
  background-color: #001d3a;
  height: 10em;
}
.cardColorF {
  background-color: #f7f7f7;
}
.cardColorFD {
  background-color: #dadada;
  width: 100%;
  margin-bottom: 2em;
}
.cardSm {
  transition: all .2s ease-out;   
}
.cardSm:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}
.card {
  height: 20em;
  margin-bottom: 20px;
  transition: all .20s ease-in-out;
  
}
.card:hover {
  background-color:#dadada9f; 
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}
.botonCards {
  margin-top: 10px;
  color: white;
 
}
.right {
  float: right;
  margin: 5px;
}
.dropdown { 
  float: right;
  
}
.drop {
  left: -130px;
}

.redondo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
}
