<div class="container center">

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="col-form-label">Activo: </label>
        <br>
        <label class="label">{{persona.activo}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">DPI: </label>
        <br>
        <label class="label">{{persona.cui}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Primer Nombre: </label>
        <br>
        <label class="label">{{persona.primerNombre}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Segundo Nombre:</label>
        <br>
        <label class="label">{{persona.segundoNombre}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Tercer Nombre:</label>
        <br>
        <label class="label">{{persona.tercerNombre}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Primer Apellido:</label>
        <br>
        <label class="label">{{persona.primerApellido}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Segundo Apellido:</label>
        <br>
        <label class="label">{{persona.segundoApellido}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Tercer Apellido:</label>
        <br>
        <label class="label">{{persona.tercerApellido}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Genero:</label>
        <br>
        <label class="label">{{persona.genero}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Nacionalidad Municipio:</label>
        <br>
        <label class="label">{{persona.nacionalidadMunicipio}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Nacionalidad Departamento:</label>
        <br>
        <label class="label">{{persona.nacionalidadDepartamento}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Nacionalidad Pais:</label>
        <br>
        <label class="label">{{persona.nacionalidadPais}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Fecha de Nacimiento:</label>
        <br>
        <label class="label">{{persona.fechaNacimiento}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Fecha de Emision de Documento:</label>
        <br>
        <label class="label">{{persona.fechaEmisionDocumento}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Fecha de Vencimiento de Documento:</label>
        <br>
        <label class="label">{{persona.fechaVencimientoDocumento}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Estado civil:</label>
        <br>
        <label class="label">{{persona.estadoCivil}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Vecindad Municipio:</label>
        <br>
        <label class="label">{{persona.vecindadMunicipio}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Vecindad Departamento:</label>
        <br>
        <label class="label">{{persona.vecindadDepartamento}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Nacionalidad:</label>
        <br>
        <label class="label">{{persona.nacionalidad}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Sabe Leer:</label>
        <br>
        <label class="label">{{persona.sabeLeer}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label des">Sabe Escribir:</label>
        <br>
        <label class="label">{{persona.sabeEscribir}}</label>
      </div>

    </div>
    <div class="col">

      <div class="form-group">
        <label class="col-form-label">Limitaciones Fisicas:</label>
        <br>
        <label class="label">{{persona.limitacionesFisicas}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Libro:</label>
        <br>
        <label class="label">{{persona.libro}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Folio:</label>
        <br>
        <label class="label">{{persona.folio}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Partida:</label>
        <br>
        <label class="label"> {{persona.partida}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Residencia Direccion:</label>
        <br>
        <label class="label">{{persona.residenciaDireccion}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Residencia Municipio:</label>
        <br>
        <label class="label">{{persona.residenciaMunicipio}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Residencia Departamento:</label>
        <br>
        <label class="label">{{persona.residenciaDepartamento}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Codigo Postal:</label>
        <br>
        <label class="label">{{persona.codigoPostal}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Profesion:</label>
        <br>
        <label class="label">{{persona.profesion}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Residencia Pais:</label>
        <br>
        <label class="label">{{persona.residenciaPais}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Numero de Cedula:</label>
        <br>
        <label class="label">{{persona.cedulaNumero}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Cedula de Municipio:</label>
        <br>
        <label class="label">{{persona.cedulaMunicipio}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Cedula Departamento:</label>
        <br>
        <label class="label">{{persona.cedulaDepartamento}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Oficial Activo:</label>
        <br>
        <label class="label">{{persona.oficialActivo}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Fotografia:</label>
        <br>
        <label class="label">{{persona.fotografia}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Numero Serie de Documento:</label>
        <br>
        <label class="label">{{persona.numeroSerieDocumento}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Correo Personal:</label>
        <br>
        <label class="label">{{persona.correoPersonal}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Correo Institucional:</label>
        <br>
        <label class="label">{{persona.correoInstitucional}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Numero Telefonico:</label>
        <br>
        <label class="label">{{persona.numeroTelefonico}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">Numero Telefonico de Movil:</label>
        <br>
        <label class="label">{{persona.numeroTelefonicoMovil}}</label>
      </div>
      <div class="form-group">
        <label class="col-form-label">MRZ:</label>
        <br>
        <label class="label">{{persona.mrz}}</label>
      </div>
      <button type="button" class="btn btn-outline-danger btn-block centerboton" (click)="personas()">Regresar</button>
    </div>
  </div>
</div>