.label{
    color: rgb(92, 92, 92);
    text-align: center
}
.col-form-label{
    color: black;
}
.center{
    margin: 0 auto;
    margin-top: 20px;
    width: calc(50px + 50%);
}
.centerboton{
    margin-top: 35px;
    margin-bottom: 20px;    

    width: calc(100px + 50%);
}
.ico{
    margin-top: -0.1px;
}
.form-control{
    height: 40px;
}
