<!--Modal Error-->
<ng-template #modalError let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-dark">Error</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-dark">
    <p>{{showMessage}}</p>
  </div>
  <div class="modal-footer text-dark">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<!--Formulario-->
<div class="row">
  <div class="col-12">
    <h2 class="titulo">Agregar Persona</h2>
  </div>
</div>

<div class="center">

  <div class="col ">
    <div class="form-group">
      <label class="col-form-label">Activo</label>
      <input [(ngModel)]='activo' type="number" readonly class="form-control" placeholder="Escribir Aqui" (keyup.enter)="createPersona(modalError)"
        required>
    </div>


    <div class="input-container">
      <input [(ngModel)]='cui' type="number" (keyup.enter)="createPersona(modalError)" required="required">
      <label>DPI</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='primerNombre' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Primer Nombre</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='segundoNombre' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Segundo Nombre</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='tercerNombre' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Tercer Nombre</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='primerApellido' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Primer Apellido</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='segundoApellido' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Segundo Apellido</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='tercerApellido' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Tercer Apellido</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <select [(ngModel)]='genero' class="form-control" required>
        <option>Masculino</option>
        <option>Femenino</option>
        <label class="col-form-label">Genero</label>
        <div class="bar"></div>
      </select>
    </div>

    <div class="input-container">
      <input [(ngModel)]='nacionalidadMunicipio' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Nacionalidad Municipio</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='nacionalidadDepartamento' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Nacionalidad Departamento</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='nacionalidadPais' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Nacionalidad Pais</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <h6>Fecha de Nacimiento</h6>
      <input [(ngModel)]='fechaNacimiento' type="date" (keyup.enter)="createPersona(modalError)" required="required">
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <h6>Fecha de Emision de Documento</h6>
      <input [(ngModel)]='fechaEmisionDocumento' type="date" (keyup.enter)="createPersona(modalError)" required="required">
      <div class="bar"></div>
    </div>

  </div>

  <div class="col-lg-4">


    <div class="input-container">
      <h6>Fecha de Vencimiento de Documento</h6>
      <input [(ngModel)]='fechaVencimientoDocumento' type="date" (keyup.enter)="createPersona(modalError)" required="required">
      <div class="bar"></div>
    </div>

    <div class="form-group">
      <label class="col-form-label">Estado civil</label>
      <select [(ngModel)]='estadoCivil' class="form-control" required>
        <option>Soltero</option>
        <option>Casado</option>
      </select>
    </div>

    <div class="form-group">
      <label class="col-form-label">Vecindad Departamento</label>
      <select [(ngModel)]='vecindadDepartamento' class="form-control" required>
        <option>Soltero</option>
        <option>Casado</option>
      </select>
    </div>


    <div *ngIf="vecindadDepartamento" (click)="cargarMunicipios()" class="form-group">
      <label class="col-form-label">Vecindad Municipio</label>
      <input [(ngModel)]='vecindadMunicipio' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="createPersona(modalError)">
    </div>

    <div class="input-container">
      <input [(ngModel)]='nacionalidad' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Nacionalidad</label>
      <div class="bar"></div>
    </div>

    <div class="form-group">
      <label class="col-form-label">Sabe Leer</label>
      <select [(ngModel)]='sabeLeer' class="form-control" required>
        <option>Si</option>
        <option>No</option>
      </select>
    </div>

    <div class="form-group">
      <label class="col-form-label">Sabe Escribir</label>
      <select [(ngModel)]='sabeEscribir' class="form-control" required>
        <option>Si</option>
        <option>No</option>
      </select>
    </div>

    <div class="input-container">
      <input [(ngModel)]='limitacionesFisicas' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Limitaciones Fisicas</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='libro' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Libro</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='folio' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Folio</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='partida' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Partida</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='residenciaDireccion' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Residencia Direccion</label>
      <div class="bar"></div>
    </div>

    <div class="form-group">
      <label class="col-form-label">Residencia Pais</label>
      <input [(ngModel)]='residenciaPais' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="createPersona(modalError)">
    </div>

    <div class="input-container">
      <input [(ngModel)]='residenciaDepartamento' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Residencia Departamento</label>
      <div class="bar"></div>
    </div>

    <div class="form-group">
      <label class="col-form-label">Residencia Municipio</label>
      <input [(ngModel)]='residenciaMunicipio' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="createPersona(modalError)">
    </div>


    <div class="form-group">
      <label class="col-form-label">Codigo Postal</label>
      <input [(ngModel)]='codigoPostal' type="text" class="form-control" placeholder="Escribir Aqui" (keyup.enter)="createPersona(modalError)">
    </div>

    <div class="input-container">
      <input [(ngModel)]='profesion' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Profesion</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='cedulaNumero' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Numero de Cedula</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='cedulaMunicipio' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Cedula de Municipio</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='cedulaDepartamento' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Cedula Departamento</label>
      <div class="bar"></div>
    </div>

    <div class="form-group">
      <label class="col-form-label">Oficial Activo</label>
      <select [(ngModel)]='oficialActivo' class="form-control" required="required">
        <option>Si</option>
        <option>No</option>
      </select>
    </div>

    <div class="input-container">
      <input [(ngModel)]='fotografia' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Fotografia</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='numeroSerieDocumento' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Numero Serie de Documento</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='correoPersonal' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Correo Personal</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='correoInstitucional' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Correo Institucional</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='numeroTelefonico' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Numero Telefonico</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='numeroTelefonicoMovil' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>Numero Telefonico de Celular</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input [(ngModel)]='mrz' type="text" (keyup.enter)="createPersona(modalError)" required="required">
      <label>MRZ</label>
      <div class="bar"></div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-outline-danger  btn-lg btn-block centerboton" (click)="personas()">
      <i class="material-icons ">close</i>
    </button>

  </div>

  <div class="col">
    <button type="button" class="btn btn-outline-success  btn-lg btn-block centerboton" (click)="createPersona(modalError)">
      <i class="material-icons">check</i>
    </button>

  </div>
</div>