input:valid{
    border: 1px solid #87d331;
}
input:invalid {
    
   border: 1px solid red;
}
select:valid {
   border: 1px solid #87d331;
}
select:invalid {
    
   border: 1px solid red;
    
}
/*
.form-group{
    color: black;
    margin: 0 auto;
}*/
.center{
    margin: 0 auto;
 
    margin-top: 5em;

}
/*.centerboton{
    margin-top: 35px;
    height: 45px;
    margin-bottom: 20px;
    
}
.ico{
    margin-top: -0.1px;
}/**/

.input-container {
    position: relative;
    margin: 0 60px 50px;
  }
 .input-container input {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 60px;
    border: 0;
    color: #212121;
    font-size: 18px;
    font-weight: 400;
  }
 .input-container input:focus ~ label {
    color: #9d9d9d;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
            transform: translate(-12%, -50%) scale(0.75);
  }
.input-container input:focus ~ .bar:before, .input-container input:focus ~ .bar:after {
    width: 50%;
  }
.input-container input:valid ~ label {
    color: #9d9d9d;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
            transform: translate(-12%, -50%) scale(0.75);
  }
.input-container label {
    position: absolute;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 18px;
    font-weight: 300;
    line-height: 60px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
.input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px;
  }
.input-container .bar:before, .input-container .bar:after {
    content: '';
    position: absolute;
    background: #00233C;
    width: 0;
    height: 2px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
  }
.input-container .bar:before {
    left: 50%;
  }
.input-container .bar:after {
    right: 50%;
}
.titulo {
    text-align: center;
    color: black;
    margin-top: 1em;
    font-size: 5em;   
}







